<h1>Kilts</h1>
<a class=":new-button" href="/stocks/new"><p>New Stock</p></a>
<table>
  <tr>
    <th>Stock Item</th>
    <th>Size</th>
    <th>Product Image</th>
  </tr>
  <% for stock in @stocks %>
  <tr>
   <td> <a href="/stocks/<%= stock.id %>" > <%= stock.stock_item %> </a></td>
   <td><%= stock.size %></td>
   <td><img class="product_image" src="<%= stock.product_image %>" alt=""></td>

   <td><form action="/stocks/<%= stock.id %>/delete" method="POST">
 <input class="new-button" type="submit" value="DELETE" />
</form></td>
   <td><form action="/stocks/<%= stock.id %>/edit" method="GET">
<input class="new-button" type="submit" value="UPDATE" /></form></td>
  </tr>
  <% end %>
</table>
